.chart {
  position: relative;
}

.chartTitle {
  margin-top: 2.5rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.5rem;
  font-variant: small-caps;
  text-align: center;
  text-transform: lowercase;
  color: hsl(0, 0%, 20%);
}

.chartExpandIcon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
  color: hsla(0, 0%, 20%, 0.25);
  cursor: pointer;
}

.chartExpandIcon:hover {
  color: hsla(0, 0%, 20%, 0.5);
}

.chartExpanded {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: hsl(280, 20%, 95%);

}